
<section class="section no-pad-bot">
    <div class="container">

        <div class="row">
          <ul class="collection">
             <li class="collection-item avatar">
               <img ng-src="{{vm.patients.image_profile}}" alt="" class="circle">
               <span class="title">{{ vm.patients.name }}</span>
               <p>First Line <br>
                  Second Line
               </p>
               <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
             </li>
            </ul>
        </div>

    </div>
</section>
